:root{
    --red:#b91646;
    --redm: #c07a8f;
    --gris:#DFD8CA;

}

/*--RECURSOS--*/



html{
    font-size: 62.5%;
    box-sizing:border-box;
}

*{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: justify;
    overflow-x: hidden;
    background-color: whitesmoke;
    color: grey;

}

.cajablanca{
    height: 100px;
}

/*--BARRA SUPERIOR--*/

.barra_superior{
    position: fixed; /* DEJAR CABECERA FIJA AL BAJAR*/
    z-index: 1; /*PARA DECIR QUE ESTE ENCIMA DE OTRAS COSAS*/
    width: 100%;
    height: 100px;
    background: rgba(185, 22, 70, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 90px;
    justify-content: left;
    padding-left: 10px;
}

.logo h1{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 100;
}

.logo h1 span{
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    height: 90px;
    align-items: center;
    padding-right: 15px;
    gap: 2rem;
}
/*
.barra_superior .menu a{
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px;
    margin: 15px;
    font-size: 1.7rem;
    transition: 0.3s;
    border-radius: 5px;

}

.barra_superior .menu a:hover{
    background-color: whitesmoke;
    color:var(--red);
    justify-content: center;
    font-weight: 900;
    transform: scale(1.15) ;

}
*/

.menu a{
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px;
    font-size: 1.7rem;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
}

.menu a:before{
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: whitesmoke;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;

}

.menu a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}


/*--PIE DE PAGINA--*/

.pie{

    display: flex;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    background-color: rgba(185, 22, 70, 0.8);
}

.pie_corto{
    position: absolute;
    bottom: 0;
    display: flex;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    background-color: rgba(185, 22, 70, 0.8);

}

.pie_corto p{

    justify-content: center;
    margin: auto;
    font-weight: 900;
}

.pie p{

    justify-content: center;
    margin: auto;
    font-weight: 900;
}


@media (max-width: 1152px) {
    .barra_superior{
        flex-direction: column;
        height: auto;
    }
    .logo{
        padding-left: 0px;
        justify-content: center;
        width: auto;
    }
    .menu{
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}


@media (max-width: 657px) {

    .barra_superior{
        flex-direction: column;
        height: auto;
    }
    .logo{
        flex-direction: column;
        height: auto;
        padding-left: 0px;
        justify-content: center;
        width: auto;
    }
    .logo h1,span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu{
        display: none;
    }


}


