:root{
    --red:#b91646;
    --redm: #c07a8f;
    --gris:#DFD8CA;

}

*{
    margin:0;
    
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body{
    padding: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    color: grey;
}

header{
    position: fixed;
    width: 100%;
    background: rgba(185, 22, 70, 0.8);
    z-index: 1;
}

/*--RECURSOS--*/

.cajablanca{
    padding-top: 100px;
}

/*--CONTENIDO--*/

.intro{
    padding-left: 300px;
    padding-right: 300px;
}

.titulo{
    text-align: center;
    margin-top: 30px;
    border-bottom:solid 1px var(--red);
}

.titulo p{
    font-size: 35px;
    color: var(--red);
}

.titulo span{
    font-size: 50px;
    font-weight: bold;
    color: var(--red);
}

.cuerpo{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    text-align: justify;
    padding-top: 25px;
    
}

.cabecera img{
    border-radius: 10px;
    display: flex;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.cajas{
    height: auto;
    width: 100%;
    padding: 10px;
}

.cajas img{
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cajas li{
    margin-left: 20px;
    font-size: 20px;
    padding-left: 10px;
}

.cajas h2{
    font-size: 40px;
    color: var(--red);
    font-weight: lighter;
    
}

/*--PIE PAGINA--*/

.gober{
    text-align: center;
    margin-top: 30px;
}

.gober p{
    font-size: 35px;
    color: var(--red);
}

.gober span{
    font-size: 50px;
    font-weight: bold;
    color: var(--red);
}

.gobierno{
    display: flex;
    margin: 40px;
    justify-content: center;
    
}


.gobierno img{
    border-radius: 10px;
    width: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.pie{

    display: flex;
    color: whitesmoke;
    height: 50px;
    background-color: rgba(185, 22, 70, 0.8);
}


.pie p{
    margin: auto;
    justify-content: center;
    font-weight: 900;
}


.a #ciclosfpid .active{
    background-color: blue;
    color: black;
    font-size: 1px;
}

.login {
    display: flex;
    height: 600px;
    border: solid 1px;
}

.loginintro{
    display: flex;
    margin: auto;
    width: 300px;
    height: 250px;
    justify-content: center;
    border: solid 1px;
}