:root{
    --red:#b91646;
    --redm: #c07a8f;
    --gris:#DFD8CA;

}

.color1 {color: #20dad9;}
.color2 {color: #9aecca;}
.color3 {color: #650944;}
.color4 {color: #a62343;}
.color5 {color: #cb7e55;}

html{
    /*box-sizing:border-box;*/
    font-size: 62.5%;
}



body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    text-align: justify;
    /*overflow-x: hidden;*/
    background-color: whitesmoke;
    color: grey;

}


/*--RECURSOS--*/

.cajablanca{
    height: 100px;
}

/*--IMAGEN CABECERA--*/

.cabecera{
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(../imagenes/cabecera3.jpeg) fixed center;
    background-size: cover;
    animation: movimiento 20s infinite linear alternate;
}

@keyframes movimiento {
    from{
        background-size: auto 150%;
    }to{
        background-size: auto 125%;
    }
}


.corte{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 20vh 100vw;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent;
}

/*--INTRODUCCION--*/

/*--TITULOS--*/

.intro{
    margin-left: 20rem;
    margin-right: 20rem;
}

.titulo h2{
    font-size: 2.5rem;
    color: var(--redm);
    text-align: center;
}

.titulo span{
    font-size: 4rem;
    font-weight: bold;
    color: var(--red);
}


/*--CICLOS---*/


.ciclosfp .contenedor{
    display: grid;
    width: 80%;
    margin:100px auto;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.ciclosfp .contenedor .caja{
    width:75%;

}

.ciclosfp .contenedor .caja img{
    width: 100%;

    border-radius: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    transition: all 600ms;
    margin-bottom: 20px;

    filter: grayscale(75%);
}


.ciclosfp .contenedor .caja img:hover{
    opacity: 1;
    border: solid 5px var(--red);
    filter: grayscale(0%);
}

.ciclosfp .contenedor .caja:hover a{
    color: var(--red);
}

.ciclosfp .contenedor .caja a{
    display: flex;
    flex-direction: column;
    color: dimgrey;

    text-align: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5rem;
}


/*--CONTACTO--*/

.contacto{
    padding-left: 300px;
    padding-right: 300px;
}

.contacto .titulo{
    text-align: center;
}

.contacto .titulo p{

    color: var(--red);
}

.contacto .titulo span{

    font-weight: bold;
    color: var(--red);
}

.contacto .rellenar{
    font-size: 2rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.contacto .correo{
    color: var(--red);
    font-weight: 900;
    width: 50%;
    padding: 5px;
}

.contacto .nombre{
    color: var(--red);
    font-weight: 900;
    width: 50%;
    padding: 5px;
}

.contacto .comentario{
    color: var(--red);
    font-weight: 900;
    width: 100%;
    padding: 5px;
}

.contacto .numero{
    color: var(--red);
    font-weight: 900;
    width: 50%;
    padding: 5px;
}

.contacto .selector{
    color: var(--red);
    font-weight: 900;
    width: 50%;
    padding: 5px;
}

.rellenar{
    padding: 20px;
}

.button_enviar{
    margin-top: 20px;
    border-top: 0px;
}

input{
    border: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color:whitesmoke;
    border-color: var(--red);

}

button{
    padding: 10px;
    font-weight: 900;
    color: var(--red);
    border: 0px solid;
    border-radius: 5px;

}

button:hover{
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    color: whitesmoke;
    background-color:var(--red);
    border: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: all 600ms;

}


fieldset {
    border: 0px;
}

textarea {
    width: 100%;
    height: 10rem;
    resize: none;
}

/*--GOBIERNO--*/

.titulo_omologado{
    text-align: center;
}

.titulo_omologado p{
    font-size: 35px;
    color: var(--red);
}

.titulo_omologado span{
    font-size: 50px;
    font-weight: bold;
    color: var(--red);
}

.gobierno{

    display: flex;
    margin: 40px;
    justify-content: center;

}

.gobierno img{
    border-radius: 10px;
    width: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

/*LOGIN*/

.login{
    color: var(--red);
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.loginenter{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/*@MEDIA*/

@media (max-width: 1152px) {
    .intro{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .corte{
        border-width: 0 0 15vh 100vw;
    }
    .cabecera{
        height: 60vh;
    }

    .ciclosfp .contenedor{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 657px) {
    .intro {
        font-size: 1.5rem;
    }
    .intro h2{
        font-size: 2rem;
    }
    .intro span{
        font-size: 2.5rem;
    }
    .cabecera{
        background: none;
        height: 300px;
    }
    .corte{
        border-width: 0 0 10vh 100vw;
    }
    .ciclosfp .contenedor{
        grid-template-columns: repeat(1,1fr);
    }
}
